<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Form_Registration</title>
   </head>
   <body>
      <h1>Form Registration</h1>
      <form th:action="@{/form}" name="student" method="post">
         <div>
            <label>Student Name</label> 
            <input type="text" name="name" />
         </div>
         <div>
            <label>Email</label> 
            <input type="text" name="email" />
         </div>
         <div>
            <label>Date of Birth</label>
            <select name="birthDay">
               <option th:each="d : ${birthDays}" th:value="${d}" th:text="${d}"></option>
            </select>
            <select name="birthMonth">
               <option th:each="m : ${birthMonths}" th:value="${m}" th:text="${m}"></option>
            </select>
            <select name="birthYear">
               <option th:each="y : ${birthYears}" th:value="${y}" th:text="${y}"></option>
            </select>
         </div>
         <div>
            <label>City</label> 
            <input type="text" name="city" />
         </div>
         <div>
            <label>Township</label> 
            <input type="text" name="township" />
         </div>
         <div>
            <label>Subject</label>
            <select name="subject">
               <option th:each="s : ${subjects}" th:value="${s}" th:text="${s}"></option>
            </select>
         </div>
         <div>
            <label th:for="${grade}">Grade</label>
            <span th:each="grade: ${grades}">
               <input type="radio" name="grade" th:value="${grade}" th:text="${grade}"/>
            </span>
         </div>
         <input type="submit" value="Send" />
      </form>
      <div th:if="${result != null}">
         <h1>Result</h1>
         <div>
            <h3>Student Name</h3>
            <ul>
               <li th:text="${result.name}">Name</li>
            </ul>
         </div>
         <div>
            <h3>Email</h3>
            <ul>
               <li th:text="${result.email}">Email</li>
            </ul>
         </div>
         <div>
            <h3>Date of Birth</h3>
            <ul>
               <li th:text="${result.birthDay} + '-' + ${result.birthMonth} + '-' + ${result.birthYear}"></li>
            </ul>
         </div>
         <div>
            <h3>City</h3>
            <ul>
               <li th:text="${result.city}">City</li>
            </ul>
         </div>
         <div>
            <h3>Township</h3>
            <ul>
               <li th:text="${result.township}">Township</li>
            </ul>
         </div>
         <div>
            <h3>Subject</h3>
            <ul>
               <li th:text="${result.subject}">Grades</li>
            </ul>
         </div>
         <div>
            <h3>Grade</h3>
            <ul>
               <li th:text="${result.grade}">Grades</li>
            </ul>
         </div>
      </div>
   </body>
</html>